body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invalid-field{
  border-color: #dc3545;
  color: #dc3545;
  background-color: #fff;
}


.card .card-body h5 {
  max-width: 400px;
}

.card .card-body P {
  max-width: 500px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal img{
  max-width: 160px;
}

.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

/* .card-horizontal img-square-wrapper {
  height: 100%;
} */